<%- include('./includes/head.ejs') %>

<body class="theme3">
    <%- include('./includes/navbar.ejs') %>

    <section class="space">
        <div class="container">
            <div class="error-img"><img src="/assets/img/theme-img/error.svg" alt="404 image"></div>
            <div class="error-content">
                <h2 class="error-title"><span class="text-theme">Упс!</span> Страница не найдена</h2>
                <p class="error-text">Ой! Страница, которую вы ищете, недоступна. Она может быть скопирована или удалена.</p>
                <a href="/" class="th-btn"><i class="fal fa-home me-2"></i>Вернуться на главную страницу</a>
            </div>
        </div>
    </section>
    
    <%- include('./includes/footer.ejs') %>
    
    <%- include('./includes/end.ejs') %>
</body>
<!-- Mirrored from html.themeholy.com/webteck/demo/error.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 26 Sep 2025 22:06:26 GMT -->

</html>