<%- include('./includes/head.ejs') %>

<body>
    <%- include('./includes/navbar.ejs') %>

    <section class="space">
        <div class="container">
            <div class="error-img"><img src="/assets/img/theme-img/error.svg" alt="404 image"></div>
            <div class="error-content">
                <h2 class="error-title"><span class="text-theme">OooPs!</span> Sahifa topilmadi</h2>
                <p class="error-text">Voy! Siz qidirayotgan sahifa mavjud emas. U ko‘chirilgan yoki o‘chirilgan bo‘lishi mumkin.</p>
                <a href="/" class="th-btn"><i class="fal fa-home me-2"></i>Asosiy sahifaga qaytish</a>
            </div>
        </div>
    </section>
    
    <%- include('./includes/footer.ejs') %>
    
    <%- include('./includes/end.ejs') %>
</body>
<!-- Mirrored from html.themeholy.com/webteck/demo/error.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 26 Sep 2025 22:06:26 GMT -->

</html>