<!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
   
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">ОСНОВНАЯ НАВИГАЦИЯ</li>
        
        <li><a href="/@admin/materials"><i class="fa fa-book"></i> <span>Учебные материалы</span></a></li>
        <li><a href="/@admin/media"><i class="fa fa-file-video-o"></i> <span>Медиа</span></a></li>
        <li><a href="/@admin/blog"><i class="fa fa-send"></i> <span>Блог</span></a></li>
        <li><a href="/@admin/test"><i class="fa fa-question-circle"></i> <span>Тест</span></a></li>
        
        <!-- <li class="header">LABELS</li>
        <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>
        <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>
        <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li> -->
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>