<footer class="footer-wrapper footer-layout5 footer-layout19">
    <div class="widget-area">
        <div class="container th-container4">
            <div class="row justify-content-between">
                <div class="col-md-6 col-xxl-3 col-xl-4">
                    <div class="widget footer-widget">
                        <div class="th-widget-about">
                            <div class="about-logo">
                                <a class="icon-masking" href="/">
                                    <span data-mask-src="/assets/img/logo-white5.svg" class="mask-icon"></span>
                                    <img style="height:45px; width:auto;" src="/assets/img/ITTS2.png" alt="ITTS">
                                </a>
                            </div>
                            <p class="about-text">Our goal is to help our companies maintain achieve best class
                                posi- tions their respective industries & our team works occur that works have to be
                                repudiated.
                            </p>
                            <div class="th-social">
                                <a href="https://www.facebook.com/"> 
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a href="https://www.twitter.com/">
                                    <i class="fab fa-twitter"></i>
                                </a> 
                                <a href="https://www.linkedin.com/">
                                    <i class="fab fa-linkedin-in"></i>
                                </a> 
                                <a href="https://www.whatsapp.com/">
                                    <i class="fab fa-whatsapp"></i> 
                                </a> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-auto">
                    <div class="widget widget_nav_menu footer-widget">
                        <h3 class="widget_title">Быстрые ссылки</h3>
                        <div class="menu-all-pages-container">
                            <ul class="menu">
                                <li><a href="/">Главная</a></li>
                                <li><a href="/blog">Блог</a></li>
                                <li><a href="/test">Тест</a></li>
                                <li><a href="/contact">Свяжитесь с нами</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-auto">
                    <div class="widget widget_nav_menu footer-widget">
                        <h3 class="widget_title style2">Ресурсы</h3>
                        <div class="menu-all-pages-container">
                            <ul class="menu">
                                <li><a href="/media/videos">Видеоинструкции</a></li>
                                <li><a href="/media/presentations">Презентации</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-wrap">
        <div class="container th-container4">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-6">
                    <p class="copyright-text">Copyright <i class="fal fa-copyright"></i>
                        <%= copyrightYear %>. All Rights Reserved.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="shape-mockup d-none d-xl-block" data-top="-15%" data-left="3%"><img
            src="/assets/img/shape/footer_shape_12.png" alt="shape"></div>
    <div class="shape-mockup footer-shape d-none d-xl-block" data-bottom="0%" data-right="0%"><img
            src="/assets/img/shape/footer_shape_13.png" alt="shape"></div>
</footer>