<div id="preloader" class="preloader"><button class="th-btn th-radius preloaderCls">Отменить предварительную загрузку</button>
    <div id="loader" class="th-preloader">
        <div class="animation-preloader">
            <div class="txt-loading">
                <span preloader-text="I" class="characters">I</span> 
                <span preloader-text="T" class="characters">T</span> 
                <span preloader-text="T" class="characters">T</span>
                <span preloader-text="S" class="characters">S</span> 
            </div>
        </div>
    </div>
</div>